<h1>About Me</h1>

<div class="row">
	<div class="col-lg-4">

	<%= image_tag "personal_photo.jpg", width: 400, alt: "Its me! Gordon!" %>
	</div>
	
	<div class="col-lg-8">
		<p>Hello, My name is Gordon Wallace and I want to be the very best that no one ever was!  </p>

		<p>Some of my hobbies of mine</p>

		<ul>
			<li>Soccer</li>
			<li>Ultimate Frisbee</li>
			<li>Video Games</li>
			<li>Cooking</li>
			<li>Blacksmithing</li>
			<li>Magic the Gathering</li>
		</ul>
		<p>Random fact:</p>
		<p>don't pick up a duck of doom</p>
		
	</div>
</div>
