
<div class="row">
	<div class="col-lg-4">

	</div>
	
	<div class="col-lg-8 home-about-content">
		<h1>About Me</h1>
		<p>Hello, My name is Gordon Wallace and I want to be the very best like no one ever was!</p>

		<p>Some of my hobbies of mine</p>

		<ul>
			<li>Soccer</li>
			<li>Ultimate Frisbee</li>
			<li>Video Games</li>
			<li>Cooking</li>
			<li>Blacksmithing</li>
			<li>Magic the Gathering</li>
		</ul>
		<p>Random fact:</p>
		<p>don't pick up a duck of doom</p>
		
	</div>
	<%= image_tag "personal_photo.jpg", id: "background", alt: "Its me! Gordon!" %>
</div>
