
<div class="contact-page-content">
	<h1>Contact Info</h1>
	<br>
	<p>Cell: <%= number_to_phone "3852199769" %></p>
	<p>Email: gordon.wallac3@yahoo.com</p>

	<p><a href="mailto:gordon.wallac3@yahoo.com?subject=PortfolioContact" "email me">Email me</a></p>
</div>

