<div class="inner cover">
  <h1 class="cover-heading">Greetings</h1>
  <p class="lead">"Have you ever felt like you were a little bit different? Like you had something unique to offer the world, if you could just get people to see it. Then you know exactly how it felt to be me." -Flint Lockwood</p>
  <p class="lead">
		<%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>

  <%= image_tag "hello-world.jpg",
 	 id: "background"

  	 %>

</div>

