<div class="inner cover">
	<div class="home-about-content">
	  <p class="lead " id="home-words">“The computer programmer is a creator of universes for which he alone is the lawgiver. No playwright, no stage director, no emperor, however powerful, has ever exercised such absolute authority to arrange a stage or field of battle and to command such unswervingly dutiful actors or troops.” </p>
	  <p id="home-words">--Joseph Weizenbaum</p>
	  <p class="lead">
			<%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
	  </p>
	</div>
  <%= image_tag "galaxy-wallpaper.jpg",
 	 id: "background" %>

</div>

