<div class="inner cover">
  <h1 class="cover-heading">Greetings</h1>
  <p class="lead">A long journey begins with one step</p>
  <p class="lead">
		<%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

